/* GENERAL */
:root {
    --mr-color-primary: #212529;
    --mr-color-secondary: #5B5858;
    --mr-color-light: #FFFFFF;
    --mr-color-header-bg: #255EE9;
    --mr-color-bg-primary: #F8F9FA;
    --mr-color-bg-secondary: #1B72E8;
    --mr-color-bg-header: #F8F9FA;
    --mr-color-bg-contrast: #051E34; 
    --mr-icons: #F26551;
    --mr-bg-badges-1: #198754;
    --mr-blue-badge: #165BBA;
    --mr-color-bell: #FF8F00;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

ul {
    list-style: none;
}

.mr-debug {
    border: 1px solid red;
}
/* HEADER */
header {
    background-color: var(--mr-color-bg-header);
    height: 80px;
}

#central {
    width: 90%;
}

#log-1 {
    display: none;
}

i.fa-solid.fa-bell {
    color: var(--mr-color-bell);
}

/* MAIN */

/* SIDEBAR */
main nav {
    width: 150px;
    background-color: var(--mr-color-bg-contrast);
    color: var(--mr-color-light);
}
/* WRAPPER */

main {
    padding-top: 80px;
}

.main-header {
    background-color: var(--mr-color-bg-secondary);
    color: var(--mr-color-light);
}

#wrapper {
    width: calc(100% - 150px);
    background-color: var(--mr-color-bg-primary);
}

/* MAIN HEADER */
div#boolean         {order: 2;}
div#student         {order: 3;}
div#new-student     {order: 1;}

#boolean .badge {
    background-color: var(--mr-blue-badge);
    border-radius: 20px;
}

.mr-app-1 {
    display: none;
}

#offcanvas button {
    border: var(--bs-btn-border-width) solid var(--mr-color-light);
}

#offcanvas button:hover {
    background-color: var(--mr-color-bg-primary);
    color: var(--mr-color-primary);
}

.offcanvas.offcanvas-end {
    max-width: 768px;
    width: 100%;
}

#prova {
    margin-bottom: 0;
    line-height: 13px;
}

/* TABLE */
#table {
    font-size: 0.9rem;
}

.mr-icon-circle {
    border: 1px solid var(--mr-icons);
    border-radius: 50%;
    background-color: var(--mr-icons);
    color: var(--mr-color-light);
    width: 30px;
    height: 30px;
}

#table th:not(th:first-child),
#table td:not(td:first-child)  {
    text-align: center;
}

#table button {
    aspect-ratio: 1 / 1;
    font-size: 0.7rem;
}

/* ACCORDION */
#accordion .accordion-item {
    border: 0 solid var(--bs-accordion-border-color);
    border-bottom: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}

/* LIST-ITEM-CECKBOX */
/* #list-item  ul {
    font-size: 90%;
} */

/* CARD-IMG */

/* RESPONSIVE UTILITY */
@media screen and (min-width: 576px) {
    
}

@media screen and (min-width: 768px) {
    div#boolean           {order: 1;}
    div#student           {order: 2;}
    div#new-student       {order: 3;}

    #header-main {
        flex-direction: row!important;
        justify-content: space-between;
        align-items: center;
    }

    #table th:nth-child(2) {
        width: 20%;
    }
    
    #table th:nth-child(3) {
        width: 8%;
    }
    
    #table th:nth-child(4) {
        width: 10%;
    }
    
    #table th:last-child {
        width: 22%;
    }
} 

@media screen and (min-width: 992px) {
    .mr-app-1 {
        display: block;
    } 
    .mr-app-2 {
        display: none;
    }

}

    


